@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 200vh;
    font-family: 'Karla', sans-serif;
}

#nav-checkbox, .nav-toggle {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}

.logo {
    font-size: 1.8rem;
    margin: 1rem;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.nav-menu li {
    display: inline-block;
    font-size: 1.1rem;
    position: relative;
    
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    display: block;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
}

.nav-menu li a:hover {
    letter-spacing: 0.5px;
    transform: scale(1.1);
}

.nav-menu li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: red;
    border-radius: 10px;
    scale: 0 0.6;
    transform-origin: center;
    transition: scale 0.35s;
}

.nav-menu li a:hover::before {
    scale: 80%;
    transform-origin: center;
}

.active {
    background: rgba(0, 0, 0, 0.5);
}

.active li:hover {
    letter-spacing: 0.5px;
    transform: scale(1.1);
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(../images/header.jpg) no-repeat fixed bottom / cover;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h2 {
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.heading h2 {
    font-size: 35px;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.location {
    width: calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 33px;
}

.location a {
    text-decoration: none;
    color: black;
}

.location-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.location-description{
    margin-top: 5px;
    color: rgb(114, 114, 114);
}

.location-price {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 768px){
    header {
        display: block;
    }

    .logo {
        margin-left: 15px;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 21px;
        right: 10px;
    }

    .nav-toggle img {
        width: 25px;
    }

    .close, input[type='checkbox']{
        display: none;
    }

    #nav-checkbox:checked ~ .nav-menu {
        background: rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        padding: 10px;
        border-top: 1px solid white;
    }

    .nav-menu li {
        display: none;
    }

    #nav-checkbox:checked ~ ul.nav-menu li {
        display: block;
        text-align: center;
    }

    #nav-checkbox:checked ~ label.nav-toggle .open {
        display: none;
    }

    #nav-checkbox:checked ~ label.nav-toggle .close {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .wrapper {
        width: 75%;
        padding-top: 26%;
    }

    .content{
        text-align: center;
    }

    .content h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px){
    .banner {
        background-position: 60%;
    }

    .wrapper {
        width: 75%;
        padding-top: 26%;
    }

    .content h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 320px){
    .logo {
        letter-spacing: 0px;
        margin-left: 0;
    }
}